# — Quarto artifacts
/.quarto/          # Quarto working directory
_env/, venv/, env/  # Python virtual environments

# — Render outputs (don't track generated slides or docs)
slides/*.html
slides/*.pdf
slides/*.pptx

*/*_files/
*/*_files/**   # includes generated JS, CSS, assets

_site/
_build/

# — OS and editor clutter
.DS_Store
Thumbs.db
*.log
*.aux
*.toc
docs/*

# — IDE-specific files
.vscode/
.idea/

/.quarto/
